
@{
    ViewBag.Title = "thongBaoDatHangThanhCong";
    Layout = "~/Views/Cart/Index.cshtml";
}

<div class="body-cart">
    <div class="container">
        <div class="cart-empty">
            <img class="img-empty" src="~/Assets/Img_Logo_Banner/cart-null.png" alt="">
            <a href="" class="text-empty">Đặt hàng thành công→</a>
        </div>
    </div>
</div>

