
@{
    ViewBag.Title = "Chaomung";
    Layout = "~/Views/AdminLayout/Adminlayout.cshtml";
}

<h2>Chào mừng đến với trang quản trị!</br> Ấn vào trang chính để chọn các chức năng!</h2>
<img src="~/images/anh/logo.png" width="50%"/>
